/* ============= RESET CSS ================ */
@import url('https://fonts.googleapis.com/css?family=Kanit');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: #333;
    font-family: 'Kanit', sans-serif;
}

/* ================================== */

/* navbar */

.nav-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    height: 70px;
    width: 100%;
}

li a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

.nav-container .nike {
    margin-left: 2rem;
    padding: 0;
    line-height: 0;
}

.carrinho {
    margin-right: 1.5rem;
}

/* main */

main {
    display: flex;
    height: calc(100vh - 70px);
}

.left-description {
    max-height: 100%;
    max-width: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
    height: 100%;
    background-color: #f7f7f6;
}

.products-info {
    align-items: center;
    text-align: center;
}

.products-info h1 {
    font-size: 3.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
    font-weight: 100;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.products-info p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.products-info h2 {
    font-size: 1.56rem;
    margin-bottom: 20px;
}

.btns {
    display: flex;
    justify-content: center;
}

.btn {
    color: #f7f7f6;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 900;
    padding: 20px;
    text-transform: uppercase;
    transition: box-shadow .5s ease-in-out,
                transform .5s ease-in-out;
}

.btn:hover {
    box-shadow: 3px 10px 20px rgba(0,0,0,.3);
    transform: translateY(-5px);
}

.btns .btn-details {
    background-color: #a4a4a4;
}

.btns .btn-add {
    background-color: #141110;
}

.right {
    background-color: #74d3ff;
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative;
}

.right img {
    position: absolute;
    left: -150px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

/* Responsivo  */
@media(max-width: 600px) {

    .left-description {
        height: 400px;
        width: 100%;
    }

    .right {
        height: 100%;
        width: 100%;
    }

    .right img {
       left: 0px;
       width: 100%; 
    }

    .nav-container li {
        font-size: 10px;
    }
}

@media(max-width: 740px) {
    .nike {
        display: none;
    }

    main {
        flex-direction: column;
        justify-content: center;
    }

    .nav-container ul {
        height: 40px;
        gap: -20px;
    }

    .nav-container li {
        font-size: 12px;
    }

    .left-description {
        border: none;
        width: 100%;
        height: 100%;
    }

    .left-description h1 {
        font-size: 2.7rem;
        letter-spacing: 2px;
    }

    .right {
        height: 100%;
        width: 100%;
    }

    .right img {
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
    }
}

@media(max-width: 900px) {
    .right {
        width: 100%;
        height: 100%;
    }

    .left-description {
       height: 400px;
    }
}